body {
    background-image: url(../../Assets/Images/Sign-in\ Bg\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    min-height: 100vh;
  }
  
  .login-form {
    width: 380px;
    height: 500px;
    background-color: #2F2E2E;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    float: right ;
    position: absolute;
    top: 52.5%;
    transform: translateY(-50%);
    right: 50px;
    border-radius: 10px;
  }
    

  h1 {
    margin-top: 0;
  }
  
  input {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .login-button {
    background-color: #4B8DC1;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color:#4B8DC1;
  }

  p {
    color:white;
  }